/data/
docker-compose.override.yml
.vscode
.DS_Store
.env
/secrets/*
!/secrets/*.sops.env
!/secrets/*.sops.json
!/secrets/*.sops.yaml
!/secrets/*.sops.yml
!/secrets/siyuan/
/secrets/siyuan/*
!/secrets/siyuan/xray.env.sops
!/secrets/zhiyuan/
/secrets/zhiyuan/*
!/secrets/zhiyuan/xray.env.sops
__pycache__/
.pytest_cache/
.ruff_cache/
venv/
*/.venv
.pre-commit-config.flake.yaml
