version: "2"
services:
  caddy:
    command: caddy run --config /etc/caddy/Caddyfile --adapter caddyfile
    restart: unless-stopped
    networks: 
      - ipv6-service-net
      - monitor-net
      - host-monitor-net
    env_file:
      - './secrets/caddy.env'
    build:
      context: ./caddy
      args:
        - USE_SJTUG=true
    volumes:
      - "./data/caddy/data:/data"
      - "./data/caddy/config:/config"
      - "./data/caddy/dists:/dists:ro"
      - "./caddy/Caddyfile.siyuan:/etc/caddy/Caddyfile.siyuan:ro"
      - "./caddy/Caddyfile.zhiyuan:/etc/caddy/Caddyfile.zhiyuan:ro"
    ports:
      - 80:80
      - 443:443
    healthcheck:
      test: curl -f http://localhost || exit 1
      interval: 1m30s
      timeout: 10s
      retries: 3
      start_period: 40s
    logging:
      options:
        max-size: "4M"
        max-file: "20"
    ulimits:
      nofile:
        soft: 80000
        hard: 120000

  lug:
    restart: unless-stopped
    command: -c /config.yaml
    networks: 
      - ipv6-service-net
    build:
      context: ./lug
      args:
        - USE_SJTUG=true
        - CLONE_VERSION=v0.1.17
        - LUG_VERSION=v0.12.6
    expose:
      - 8081
      - 7001
    volumes:
      - "./lug/worker-script:/worker-script:ro"
      - "./data/lug:/data"
      - "./data/caddy/dists/mirrorz:/mirrorz"
      - "./secrets/git-credentials:/root/.git-credentials:ro"
      - "./common/gai.conf:/etc/gai.conf:ro"
    environment:
      RUST_LOG: info
    healthcheck:
      test: curl -f http://localhost:7001/lug/v1/manager/summary || exit 1
      interval: 1m30s
      timeout: 10s
      retries: 3
      start_period: 40s
    logging:
      options:
        max-size: "4M"
        max-file: "20"
    ulimits:
      nofile:
        soft: 80000
        hard: 120000

  logspout:
    restart: unless-stopped
    image: skyzh/logspout:v3.2.13
    volumes:
      - "/var/run/docker.sock:/var/run/docker.sock"
    networks:
      - tunnel-net
    logging:
      options:
        max-size: "4M"
        max-file: "20"
    ulimits:
      nofile:
        soft: 80000
        hard: 120000
    mem_limit: 2G
    memswap_limit: 2G

  cadvisor:
    restart: unless-stopped
    networks: 
      - monitor-net
    image: google/cadvisor:latest
    expose:
      - 8080
    volumes:
      - "/:/rootfs:ro"
      - "/var/run:/var/run:rw"
      - "/sys:/sys:ro"
      - "/var/lib/docker/:/var/lib/docker:ro"
    logging:
      options:
        max-size: "4M"
        max-file: "20"
    ulimits:
      nofile:
        soft: 80000
        hard: 120000
    mem_limit: 2G
    memswap_limit: 2G
    
  clash:
    build:
      context: ./clash
    command: -d /etc/clash
    volumes:
      - ./secrets/clash_config.yaml:/etc/clash/config.yaml:z,ro
    networks:
      - proxy-net
    expose:
      - 8080
    restart: unless-stopped
    logging:
      options:
        max-size: "4M"
        max-file: "20"
    ulimits:
      nofile:
        soft: 80000
        hard: 120000
    mem_limit: 5G
    memswap_limit: 5G

  mirror-intel:
    build:
      context: ./mirror-intel
      args:
        - USE_SJTUG=true
        - INTEL_VERSION=v0.1.22
    networks:
      - ipv6-service-net
    expose:
      - 8000
    restart: unless-stopped
    env_file:
      - './secrets/mirror-intel.env'
    environment:
      RUST_LOG: warn
    logging:
      options:
        max-size: "4M"
        max-file: "20"
    ulimits:
      nofile:
        soft: 80000
        hard: 120000
    volumes:
      - "./common/gai.conf:/etc/gai.conf:ro"

  ipv6nat:
    image: robbertkl/ipv6nat
    network_mode: host
    restart: unless-stopped
    volumes:
    - "/var/run/docker.sock:/var/run/docker.sock:ro"
    - "/lib/modules:/lib/modules:ro"
    cap_add:
    - SYS_MODULE
    - NET_ADMIN
    - NET_RAW

  rsyncd:
    build:
      context: ./rsyncd
      args:
        - USE_SJTUG=true
    logging:
      options:
        max-size: "2M"
        max-file: "10"
    ports:
      - "873:873"
    restart: unless-stopped

networks:
  host-monitor-net:
    driver: bridge
    ipam:
      driver: default
      config:
      -  subnet: 172.31.0.0/16
  monitor-net:
  tunnel-net:
  proxy-net:
  ipv6-service-net:
    enable_ipv6: true
    driver: bridge
    ipam:
      driver: default
      config:
      -  subnet: fd01::/80
