version: "2"
services:
  caddy:
    command: caddy run --config /etc/caddy/Caddyfile --adapter caddyfile
    restart: unless-stopped
    networks:
      - ipv6-service-net
      - monitor-net
      - host-monitor-net
    env_file:
      - "./secrets/caddy.env"
    build:
      context: ./caddy
      args:
        - USE_SJTUG=true
        - USE_GOPROXY=true
    volumes:
      - "./data/caddy/data:/data"
      - "./data/caddy/config:/config"
      - "mirrorz-volume:/var/www/mirrorz:ro"
      - "./caddy/Caddyfile.siyuan:/etc/caddy/Caddyfile.siyuan:ro"
      - "./caddy/Caddyfile.zhiyuan:/etc/caddy/Caddyfile.zhiyuan:ro"
      - "./secrets/well-known:/var/www/.well-known:ro"
    ports:
      - 80:80
      - 443:443
    healthcheck:
      test: curl -f http://localhost || exit 1
      interval: 1m30s
      timeout: 10s
      retries: 3
      start_period: 40s
    logging:
      options:
        max-size: "4M"
        max-file: "20"
    ulimits:
      nofile:
        soft: 80000
        hard: 120000

  frontend:
    restart: unless-stopped
    build:
      context: ./frontend
    networks:
      - ipv6-service-net
    expose:
      - 3000
    healthcheck:
      test: curl -f http://localhost:3000 || exit 1
      interval: 1m30s
      timeout: 10s
      retries: 3
      start_period: 40s
    logging:
      options:
        max-size: "4M"
        max-file: "20"
    ulimits:
      nofile:
        soft: 80000
        hard: 120000

  lug:
    restart: unless-stopped
    command: -c /config.yaml
    networks:
      - ipv6-service-net
      - proxy-net
      - redis-net
      - postgres-net
    build:
      context: ./lug
      args:
        - USE_SJTUG=true
        # TODO: bump OpenSSL version
        - CLONE_VERSION=v0.1.18
        - CLONE_V2_VERSION=v0.2.39
        - RSYNC_SJTUG_VERSION=v0.4.17
        - LUG_VERSION=v0.12.11
    expose:
      - 8081
      - 7001
    volumes:
      - "./lug/worker-script:/worker-script:ro"
      - "./data/lug:/data"
      - "mirrorz-volume:/mirrorz"
      - "./secrets/git-credentials:/root/.git-credentials:ro"
      - "./secrets/lug-secrets.sh:/root/lug-secrets.sh:ro"
      - "./secrets/ssh:/secrets_ssh:ro"
      - "./secrets/mirror-intel.env:/secrets_s3:ro"
      - "./secrets/gcp:/secrets_gcp:ro"
      - "./secrets/pg.env:/secrets_pg:ro"
      - "./common/gai.conf:/etc/gai.conf:ro"
      - "./config.siyuan.yaml:/config.siyuan.yaml:ro"
      - "./config.zhiyuan.yaml:/config.zhiyuan.yaml:ro"
    tmpfs: /var/cache
    environment:
      RUST_LOG: info
    env_file:
      - "./secrets/mirror-clone.env"
    healthcheck:
      test: curl -f http://localhost:7001/lug/v1/manager/summary || exit 1
      interval: 1m30s
      timeout: 10s
      retries: 3
      start_period: 40s
    logging:
      options:
        max-size: "4M"
        max-file: "20"
    ulimits:
      nofile:
        soft: 80000
        hard: 120000

  rsync-gateway:
    build:
      context: ./rsync-gateway
      args:
        - USE_SJTUG=true
        - RSYNC_SJTUG_VERSION=v0.4.17
    networks:
      - ipv6-service-net
      - postgres-net
      - tunnel-net
    expose:
      - 8000
    restart: unless-stopped
    env_file:
      - "./secrets/mirror-intel.env"
      - "./secrets/pg.env"
    environment:
      RUST_LOG: info
      RUST_BACKTRACE: 1
    logging:
      options:
        max-size: "4M"
        max-file: "20"
    ulimits:
      nofile:
        soft: 80000
        hard: 120000

  postgres:
    restart: unless-stopped
    image: photonquantum/postgres-rsync-sjtug:latest
    networks:
      - postgres-net
    expose:
      - 5432
    env_file:
      - "./secrets/pg.env"
    logging:
      options:
        max-size: "4M"
        max-file: "20"
    ulimits:
      nofile:
        soft: 80000
        hard: 120000
    mem_limit: 30G
    memswap_limit: 30G

  logspout:
    restart: unless-stopped
    image: skyzh/logspout:v3.2.13
    volumes:
      - "/var/run/docker.sock:/var/run/docker.sock"
    networks:
      - tunnel-net
    logging:
      options:
        max-size: "4M"
        max-file: "20"
    ulimits:
      nofile:
        soft: 80000
        hard: 120000
    mem_limit: 2G
    memswap_limit: 2G

  cadvisor:
    restart: unless-stopped
    networks:
      - monitor-net
    image: gcr.dockerproxy.com/cadvisor/cadvisor:v0.47.2
    expose:
      - 8080
    volumes:
      - "/:/rootfs:ro"
      - "/var/run:/var/run:rw"
      - "/sys:/sys:ro"
      - "/var/lib/docker/:/var/lib/docker:ro"
    logging:
      options:
        max-size: "4M"
        max-file: "20"
    ulimits:
      nofile:
        soft: 80000
        hard: 120000
    mem_limit: 2G
    memswap_limit: 2G

  clash:
    build:
      context: ./clash
    command: -d /etc/clash
    volumes:
      - ./secrets/clash_config.yaml:/etc/clash/config.yaml:z,ro
    networks:
      - proxy-net
    expose:
      - 8080
      - 1080
    restart: unless-stopped
    logging:
      options:
        max-size: "4M"
        max-file: "20"
    ulimits:
      nofile:
        soft: 80000
        hard: 120000
    mem_limit: 5G
    memswap_limit: 5G

  mirror-intel:
    build:
      context: ./mirror-intel
      args:
        - USE_SJTUG=true
        - INTEL_VERSION=v0.1.34
    networks:
      - ipv6-service-net
    expose:
      - 8000
    restart: unless-stopped
    env_file:
      - "./secrets/mirror-intel.env"
    environment:
      RUST_LOG: info
    logging:
      options:
        max-size: "4M"
        max-file: "20"
    ulimits:
      nofile:
        soft: 80000
        hard: 120000
    volumes:
      - "./common/gai.conf:/etc/gai.conf:ro"

  rsyncd:
    build:
      context: ./rsyncd
      args:
        - USE_SJTUG=true
    logging:
      options:
        max-size: "2M"
        max-file: "10"
    ports:
      - "873:873"
    restart: unless-stopped

  git-backend:
    build:
      context: ./git-backend
      args:
        - USE_SJTUG=true
    logging:
      options:
        max-size: "2M"
        max-file: "10"
    restart: unless-stopped
    networks:
      - ipv6-service-net

networks:
  host-monitor-net:
    driver: bridge
    ipam:
      driver: default
      config:
        - subnet: 172.31.0.0/16
  monitor-net:
  tunnel-net:
  proxy-net:
  ipv6-service-net:
    enable_ipv6: true
    driver: bridge
    ipam:
      driver: default
      config:
        - subnet: fd01::/80
  redis-net:
  postgres-net:

volumes:
  mirrorz-volume:
