http://siyuan.sjtu.edu.cn {
    redir / https://{host}{uri} 301
}

anaconda.siyuan.sjtu.edu.cn/ {
    file_server /anaconda/* browse {
        root /srv
    }
}

packagist.siyuan.sjtu.edu.cn/ {
    file_server /packagist/* browse {
        root /srv
    }
}

https://siyuan.sjtu.edu.cn {
    redir /putty /putty/ 301
    file_server /putty/* browse {
        root /srv
    }
    redir /archlinux /archlinux/ 301
    file_server /archlinux/* browse {
        root /srv
    }
    redir /archlinux-cn /archlinux-cn/ 301
    file_server /archlinux-cn/* browse {
        root /srv
    }
    redir /archlinuxarm /archlinuxarm/ 301
    file_server /archlinuxarm/* browse {
        root /srv
    }
    redir /gentoo /gentoo/ 301
    file_server /gentoo/* browse {
        root /srv
    }
    redir /vim /vim/ 301
    file_server /vim/* browse {
        root /srv
    }
    redir /manjaro /manjaro/ 301
    file_server /manjaro/* browse {
        root /srv
    }
    redir /alpine /alpine/ 301
    file_server /alpine/* browse {
        root /srv
    }
    redir /ctan /ctan/ 301
    file_server /ctan/* browse {
        root /srv
    }
    redir /cpan /cpan/ 301
    file_server /cpan/* browse {
        root /srv
    }
    redir /cran /cran/ 301
    file_server /cran/* browse {
        root /srv
    }
    redir /ctex /ctex/ 301
    file_server /ctex/* browse {
        root /srv
    }
    redir /gnu /gnu/ 301
    file_server /gnu/* browse {
        root /srv
    }
    redir /cygwin /cygwin/ 301
    file_server /cygwin/* browse {
        root /srv
    }
    redir /ros /ros/ 301
    file_server /ros/* browse {
        root /srv
    }
    redir /kali /kali/ 301
    file_server /kali/* browse {
        root /srv
    }
    redir /kali-images /kali-images/ 301
    file_server /kali-images/* browse {
        root /srv
    }
    redir /anaconda /anaconda/ 301
    file_server /anaconda/* browse {
        root /srv
    }
    redir /git/homebrew-core.git /git/homebrew-core.git/ 301
    file_server /git/homebrew-core.git/* browse {
        root /srv
    }
    redir /git/homebrew-cask.git /git/homebrew-cask.git/ 301
    file_server /git/homebrew-cask.git/* browse {
        root /srv
    }
    redir /git/brew.git /git/brew.git/ 301
    file_server /git/brew.git/* browse {
        root /srv
    }
    redir /git/crates.io-index /git/crates.io-index/ 301
    file_server /git/crates.io-index/* browse {
        root /srv
    }
    redir /raspbian /raspbian/ 301
    file_server /raspbian/* browse {
        root /srv
    }
    redir /parrot /parrot/ 301
    file_server /parrot/* browse {
        root /srv
    }
    redir /raspberrypi /raspberrypi/ 301
    file_server /raspberrypi/* browse {
        root /srv
    }
    redir /mx-isos /mx-isos/ 301
    file_server /mx-isos/* browse {
        root /srv
    }
    redir /mx-packages /mx-packages/ 301
    file_server /mx-packages/* browse {
        root /srv
    }
    redir /packagist /packagist/ 301
    file_server /packagist/* browse {
        root /srv
    }
    redir /mongodb /mongodb/ 301
    file_server /mongodb/* browse {
        root /srv
    }
    redir /qt /qt/ 301
    file_server /qt/* browse {
        root /srv
    }
    redir /julia /julia/ 301
    file_server /julia/* browse {
        root /srv
    }
    redir /emacs-elpa /emacs-elpa/ 301
    file_server /emacs-elpa/* browse {
        root /srv
    }
    redir /julia-releases /julia-releases/ 301
    file_server /julia-releases/* browse {
        root /srv
    }
    redir /msys2 /msys2/ 301
    file_server /msys2/* browse {
        root /srv
    }
    redir /git/opam-repository.git /git/opam-repository.git/ 301
    file_server /git/opam-repository.git/* browse {
        root /srv
    }
    redir /git/dpdk.git /git/dpdk.git/ 301
    file_server /git/dpdk.git/* browse {
        root /srv
    }
    redir /git/qemu.git /git/qemu.git/ 301
    file_server /git/qemu.git/* browse {
        root /srv
    }
    redir /git/linux.git /git/linux.git/ 301
    file_server /git/linux.git/* browse {
        root /srv
    }
}