[default]
address = "0.0.0.0"
base_url = "https://mirror.sjtu.edu.cn"
concurrent_download = 16
direct_stream_size_kb = 4
download_timeout = 300
file_threshold_mb = 20
ignore_threshold_mb = 4096
max_pending_task = 65536
read_only = false
ttl = 3
user_agent = "mirror-intel / 0.1 (mirror.sjtu.edu.cn)"
workers = 8
buffer_path = "/mnt/cache/"

[default.github_release]
allow = [
  "oneclick/rubyinstaller2/",
  "mikefarah/yq/",
  "docker/compose/",
  "librespeed/speedtest-go/",
]

[default.endpoints]
crates_io = "https://static.crates.io"
dart_pub = "https://pub.flutter-io.cn"
fedora_iot = "https://d2ju0wfl996cmc.cloudfront.net"
fedora_ostree = "https://d2uk5hbyrobdzx.cloudfront.net"
flathub = "https://dl.flathub.org/repo"
flutter_infra = "https://storage.flutter-io.cn/flutter_infra_release"
flutter_infra_release = "https://storage.flutter-io.cn/flutter_infra_release"
github_release = "https://github.com"
guix = "https://ci.guix.gnu.org"
guix-bordeaux = "https://bordeaux.guix.gnu.org"
homebrew_bottles = "https://homebrew.bintray.com"
linuxbrew_bottles = "https://linuxbrew.bintray.com"
nix_channels_store = "https://cache.nixos.org"
pypi_packages = "https://mirrors.tuna.tsinghua.edu.cn/pypi/web/packages"
pytorch_wheels = "https://download.pytorch.org/whl"
rust_static = "https://static.rust-lang.org"
sjtug_internal = "https://github.com/sjtug"
opam_cache = "https://opam.ocaml.org/cache"
pypi_simple = "https://mirrors.tuna.tsinghua.edu.cn/pypi/web/simple"
gradle_distribution = "https://services.gradle.org/distributions"
overrides = [
  { name = "flutter", pattern = "https://storage.flutter-io.cn/", replace = "https://storage.googleapis.com/" },
]
s3_only = [
  "voidlinux/",
  "bioconductor/",
  "anaconda/",
  "wireshark/",
  "macports/",
  "gimp/",
  "ghcup/",
  "elan/",
  "kernel/",
]

[default.s3]
name = "jCloud S3"
bucket = "899a892efef34b1b944a19981040f55b-oss01"
endpoint = "https://s3.jcloud.sjtu.edu.cn"
website_endpoint = "https://s3.jcloud.sjtu.edu.cn"
