GRAFANA_VERSION=11.4.0

GITHUB_CLIENT_ID=github_client_id
GITHUB_CLIENT_SECRET=github_client_secret

MIRROR_MONITOR_TEXTFILE_DIR=/var/lib/mirror-monitor/textfile_collector

MONITOR_USERNAME=monitor_username
MONITOR_PASSWORD=monitor_password

TELEGRAM_API_URL=https://api.telegram.org
TELEGRAM_CHAT_ID=0
TELEGRAM_MESSAGE_THREAD_ID=
TELEGRAM_PROXY_URL=http://metacubexd:1081
