name: Lint and Validation
on:
  push:
    branches:
      - main
  pull_request:
    branches:
      - main
jobs:
  test-lug:
    runs-on: ubuntu-latest
    name: lug config format
    steps:
      - uses: actions/checkout@v2
      - uses: actions/checkout@v2
      - name: Use Node.js 14
        uses: actions/setup-node@v1
        with:
          node-version: 14
      - run: npm i -g prettier
      - run: prettier -c *.yaml
  test-docker-build:
    name: docker build
    runs-on: ubuntu-latest
    strategy:
      matrix:
        mirror: ["siyuan", "zhiyuan"]
    steps:
      - name: Cancel Previous Runs
        uses: styfle/cancel-workflow-action@0.6.0
        with:
          access_token: ${{ github.token }}
      - uses: actions/checkout@v2
      - name: use CI config for docker-compose
        run: |
          cp docker-compose.ci.yml docker-compose.override.yml 
          cp ./secrets/caddy.env.example ./secrets/caddy.env
          cp ./secrets/mirror-clone.env.example ./secrets/mirror-clone.env
          cp ./secrets/mirror-intel.env.example ./secrets/mirror-intel.env
          cp ./secrets/gcr-registry.ci.yml ./secrets/gcr-registry.yml
          cp ./secrets/docker-registry.ci.yml ./secrets/docker-registry.yml
          touch ./secrets/lug-secrets.sh
          touch ./speedtest/settings.toml
      - name: verify config
        run: docker-compose -f docker-compose.yml -f docker-compose.${{ matrix.mirror }}.yml config
      - name: docker-compose build
        run: docker-compose -f docker-compose.yml -f docker-compose.${{ matrix.mirror }}.yml -f docker-compose.ci.yml build --parallel
      - name: validate Caddyfile
        run: make caddy-verify-config
  test-caddy-file:
    runs-on: ubuntu-latest
    name: Caddyfile up-to-date
    steps:
      - uses: actions/checkout@v2
      - uses: actions/setup-python@v1
        with:
          python-version: "3.9"
      - uses: dschep/install-pipenv-action@v1
      - name: setup Pipenv
        run: cd caddy-gen && pipenv install
      - name: check if Caddyfile is latest version
        run: make caddy-gen && git diff --exit-code
      - name: use CI config for docker-compose
        run: |
          cp docker-compose.ci.yml docker-compose.override.yml 
          cp ./secrets/caddy.env.example ./secrets/caddy.env
          cp ./secrets/mirror-clone.env.example ./secrets/mirror-clone.env
          cp ./secrets/mirror-intel.env.example ./secrets/mirror-intel.env
          cp ./secrets/gcr-registry.ci.yml ./secrets/gcr-registry.yml
          cp ./secrets/docker-registry.ci.yml ./secrets/docker-registry.yml
          touch ./secrets/lug-secrets.sh
      - name: validate Caddyfile
        run: docker-compose build caddy && make caddy-verify-config
  test-gateway-file:
    runs-on: ubuntu-latest
    name: rsync-gateway config up-to-date
    steps:
      - uses: actions/checkout@v2
      - uses: actions/setup-python@v1
        with:
          python-version: "3.9"
      - uses: dschep/install-pipenv-action@v1
      - name: setup Pipenv
        run: cd gateway-gen && pipenv install
      - name: check if rsync-gateway config.toml is latest version
        run: make gateway-gen && git diff --exit-code
